.container {
  width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo {
  font-family: 'Revalia';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #34547A;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_item {
  margin-right: 42px;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.active {
  color: #34547A;
  font-weight: 500;
}

.content {
  padding: 109px 0 100px 0;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.main {
  background-color: #EEEFF1;
}

.screen_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 112px 30px 0 30px;
}

.main_img {
  width: 320px;
  margin-right: 140px;
  border-radius: 8px;
}

.main_title {
  text-align: start;
  padding-bottom: 20px;
}

.main_subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  padding-bottom: 40px;
}

.main_text {
  padding-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.main_btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 8px 40px;
  background: #34547A;
  border: none;
}

.main_btn:hover {
  opacity: .8;
}

.content_about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_about {
  padding-bottom: 50px;
}

.text_about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.skils {
  background-color: #34547A;
}

.title_skils {
  color: #fff;
  padding-bottom: 30px;
}

.skils_block {
  display: flex;
  justify-content: space-between;
}

.title_ul {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.skils_ul {
  padding-top: 25px;
}

.skils_li {
  padding: 7px 0;
}

.example {
  background: #EEEFF1;
}

.skils_li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.content_example {
  padding: 109px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_example {
  padding-bottom: 50px;
}

.text_example {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.code {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

.span_red {
  color: #cf222e;;
}

.span_blue {
  color: #8250df;;
}

.title_works {
  padding-bottom: 50px;
}

.img_container {
  display: flex;
  flex-wrap: wrap;
  
}

.img_link {
  width: 33%;
  margin-right: 4px;
  margin-bottom: 4px;
  
}

.img_link:hover {
  opacity: .8;
}

.img_link:nth-child(3) {
  margin-right: 0;
}

.img_link:nth-child(4),
.img_link:nth-child(5),
.img_link:nth-child(6) {
  margin-bottom: 0;
}

.img_screen {
  width: 100%;
  height: 150px;
  border-radius: 4px;
}

.contacts {
  background-color: #EEEFF1;
}

.content_contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.information_block {
  display: flex;
  justify-content: space-between;
}

.input_container {
  display: flex;
  justify-content: space-between;
}

.input_one,
.input_two {
  width: 100%;
  height: 30px;
}

.input_one {
  margin-right: 20px;
}

.textarea {
  width: 434px;
  height: 100px;
  max-height: 150px;
  margin-top: 20px;
}

.btn_contacts {
  margin-top: 20px;
}

.form_block {
  max-width: 440px;
  margin-right: 100px;
}

.form_block:last-child {
  margin-right: 0;
}

.li_contacts {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #34547A;
}

.span_contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-right: 6px;
  
}

.title_contacts {
  padding-bottom: 50px;
}

.footer {
  background-color: #34547A;
}

.content_footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year_name {
  padding-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.year_date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.link_github {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

.img-logo {
  width: 100px;
}



@media(max-width: 934px) {
  .screen_one {
    flex-direction: column;
  }

  .main_img {
    margin-right: 0;
  }

  .main_content {
    max-width: 500px;
    text-align: center;
  }

  .main_title {
    text-align: center;
  }

  .text_about {
    max-width: 500px;
  }

  .skils_block {
  }

  .img_link {
    width: 49.5%;
  }

  .img_link:nth-child(2) {
    margin-right: 0;
  }
  
  .img_link:nth-child(3),
  .img_link:nth-child(5) {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .img_link:nth-child(6) {
    margin-bottom: 0;
  }

  .img_screen {
    height: 240px;
  }

  .information_block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form_block {
    margin-right: 0;
  }

  .btn_contacts {
    margin-bottom: 20px;
  }
}

